.gpt4__features{
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.gpt4__features-heading{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-right: 5rem;
}
.gpt4__features-heading h1{
    font-family: var(--font-family);
    font-size: 35px;
    font-weight: 800;
}
.gpt4__features-heading p{
    font-family: var(--font-family);
    font-size: 17px;
    font-weight: 400;
    color: #ff8a71;
    margin-top: 2em;
}
.gpt4__features-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width:990px) {
    .gpt4__features{
        flex-direction: column;
    }
    .gpt4__features-heading{
        margin: 0 0 2rem 0;
    }
}
@media screen and (max-width:550px) {
    .gpt4__features-heading h1{
        font-size: 29px;
    }
}